@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

table img{
    width: 200px;
    height: 200px;
}

h1, h2 {
    font-family: 'Libre Baskerville', serif;
} 

#galeria img{
    height: 300px;
}
