*{
    margin: 0;
    padding: 0;
}

header h1, header h2{
    text-align: center;
    font-weight: bold;
}

body{
    background-color: rgba(168, 172, 154, 0.623);
}

main{
    padding: 0 20% 0 20%;
}

main p, main li{
    font-size: 1.3em;
}

main li{
    margin-top: 0.6em;
}

main li:hover{
    background-color: lightgreen;
    color: black;
}

main li a:visited{
    color: green;
}

#Bienvenida{
    margin-top: 25px;
}

article header h3{
    margin-top: 25px;
    color: black;
    font-weight: bold;
}

article section h4{
    margin-top: 20px;
    color: blue;
    font-weight: bold;
}

main p{
    text-align: justify;
}

.container{
    min-height: calc(100vh - 250px);
}

footer{
    background-color: darkred;
    color: white;
}