header h1{
    color: teal;
    font-family: Georgia;
}

main article header h3{
    font-weight: bold;
    margin-top: 25px;
}

main article section p{
    margin-top: 10px;
}

main article section h4{
    margin-top: 20px;
}

main li{
    font-size: 1.2em;
}

main li a:hover{
    background-color: lightpink;
}

main li a:visited{
    color: maroon;
}

footer{
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px 0 10px 0;
    border: 5px solid black;
    margin-top: 15px;
}

footer p{
    margin: 0;
    padding: 0;
    color: oldlace;
    text-align: center;
}

footer a:visited{
    color: lightpink;
}